$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

html, body {
  height: 100%;
}

google-map {
  position: absolute;
  top: 60px;
  bottom: 0px;
  width: 100%;
}

polymer-ui-overlay > div {
  @include box-sizing(border-box);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  @include user-select(none);
  overflow: hidden;
  background: white;
  padding:30px 42px;
  outline: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  width: 500px;
}

#authButton {
  margin-top: 15px;
}


